<?xml version="1.0" encoding="UTF-8"?>
<web-app
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xmlns:web="http://xmlns.jcp.org/xml/ns/javaee"
  xsi:schemaLocation="
    http://xmlns.jcp.org/xml/ns/javaee
    http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd
">
  <display-name>Archetype Created Web Application</display-name>
  <welcome-file-list>
    <welcome-file>/hello.jsp</welcome-file>
  </welcome-file-list>

  <servlet>
    <servlet-name>home</servlet-name>
    <servlet-class>co.zhanglintc.ohMyServlet</servlet-class>
    <!-- load-on-startup is an order -->
    <load-on-startup>0</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>home</servlet-name>
    <url-pattern>/home</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <!-- `default` means DEFAULT servlet -->
    <servlet-name>default</servlet-name>
    <url-pattern>/static/*</url-pattern>
  </servlet-mapping>

  <listener>
    <listener-class>co.zhanglintc.listener.SpringCtxLoaderListener</listener-class>
    <listener-class>co.zhanglintc.listener.StartStopListener</listener-class>
  </listener>
  <context-param>
    <param-name>contextConfigLocation</param-name>
    <param-value>classpath:webBeans.xml</param-value>
</context-param>
</web-app>
